.bio {
    display: inline;
}

.bio-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 3rem;
}

.bio-text {
    padding-top: 8rem;
    margin-left: -100px;
    text-align: center;
}

.text-container {
    
}

.photos {
    border-color: #0F5257;
    border-radius: 2px;
    border-style: solid;
}

.home-image {
    max-width: 300px;
    float: right;
    border-radius: 25px;
}

.image-text {
    display: none;
    text-align: center;
}

.home-image:hover + .image-text {
    display: block;
}