/* Projects Page Styling START */
.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: 10px;
    max-width: 100vw;
}

.projectCard {
    border: 2px solid black;
    border-radius: 2px;
    padding: 0.5rem;
}

.projectImage {
    width: 100%;
    height: 85%;
}

/* Projects Page Styling END */