.container {
    margin: auto;
    max-width: 100vw;
    font-family: sans-serif;
    margin: -10px -7px 0 -7px;
}

.heading {
    color: #B5D6B2;
    text-align: center;
}

.nav-container {
    background: #0F5257;
    overflow: hidden;
}

.nav-link {
    color: white;
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 1rem 1rem;
    font-size: 20px;
}

.nav-link:hover {
    background-color: #B5D6B2;
}

.nav-right {
    float: right;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
    text-align: center;
}