* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    max-width: 100vw;
    font-family: sans-serif;
}

.heading {
    color: #B5D6B2;
    text-align: center;
    padding-bottom: 2rem;
}

.nav-container {
    background: #0F5257;
    overflow: hidden;
}

.nav-link {
    color: white;
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 1rem 1rem;
    font-size: 20px;
}

.nav-link:hover {
    background-color: #B5D6B2;
}

.nav-right {
    float: right;
}

.header-block {
    text-align: center;
    height: 100%;
    width: 100%;
}

.site-title {
    font-size: 3rem;
    color: #968990;
    font-weight: 700;
    margin: 2rem 0;
    /* typewriter 
    overflow: hidden;
    border-right: .15em solid #B5D6B2;
    white-space: nowrap;
    width: 0;
    animation: 
        typing 1s steps(20, end) forwards,
        blink .8s infinite;
    */
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: #B5D6B2; }
}